<div class="panel panel-default">

    <div class="panel-heading">Address Details
    <div align="right"><%= link_to_remove_fields "remove", f %></div>
</div>
    <div class="panel-body">
<div class="row">
<div class="col-sm-3">
  <%= f.label :street_no %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :street_no , :required => true%>
</div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :street_name %>
 </div>
  <div class="col-sm-6">
  <%= f.text_field :street_name, :required => true %>
  </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :area_name %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :area_name, :required => true %>
 </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :landmark %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :landmark , :required => true%>
 </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :city %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :city, :required => true %>
  </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :postal_code %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :postal_code, :required => true %>
  </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :state %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :state , :required => true%>
 </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :country %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :country, :required => true %>
</div>
</div>
</div>
</div>
