<%= form_for(@customer) do |f| %>
<% if @customer.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

  <ul>
    <% @customer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="panel panel-default">
    <div class="panel-heading">Customer Details</div>
    <div class="panel-body">
<div class="row">
  <div class="col-sm-3">
    <%= f.label :first_name, :required => true %>
  </div>
  <div class="col-sm-6">
    <%= f.text_field :first_name , :required => true%>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= f.label :last_name, :required => true %>
  </div>
  <div class="col-sm-6">
    <%= f.text_field :last_name, :required => true %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <%= f.label :mobile, :required => true %>
  </div>
  <div class="col-sm-6">
    <%= f.text_field :mobile, :required => true %>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= f.label :email %>
  </div>
<div class="col-sm-6">
  <%= f.text_field :email, :required => true %>
</div>
</div>
<br/>
<br/>

<div class="panel panel-default">
    <div class="panel-heading">Customer Addresses</div>
    <div class="panel-body">
<%= f.fields_for :addresses do |builder| %>
<%=  render 'address_fields', :f => builder %>
<% end %>
<%= link_to_add_fields "Add Address", f, :addresses %>
</div>
</div>

<div class="actions">
 <%= button_tag( :class => 'btn btn-primary', :title => 'Save', :rel => 'tooltip') do %>
       Save<span class="glyphicon glyphicon-floppy-save"></span> 
   <% end %>
</div>
</div>
  </div>
<% end %>
