
<%= form_for(@order) do |f| %>
<% if @order.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

  <ul>
    <% @order.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">Customer Details</div>
    <div class="panel-body">

            <div class="row">
                <div class="col-md-6 ">
                   <%= f.label "Enter Customer Email Id :" %>
                </div>
                <div class="col-md-6 col-md-pull-2">
                   <%= f.text_field :email, id: "input", :required => true %><br/>
                   <%=f.hidden_field :customer_id, id: "cid"%>
                </div>
            </div>

             <div class="row">
                 <div class="col-md-6">
                     <%= f.label "First Name :" %>
                </div>
                  <div class="col-md-6 col-md-pull-2">
                      <%= f.text_field :first_name, id: "first_name", :required => true %><br/>
                  </div>
             </div>

             <div class="row">
                 <div class="col-md-6">
                       <%= f.label "Last Name :" %>
                  </div>
                   <div class="col-md-6 col-md-pull-2">
                       <%= f.text_field :last_name, id: "last_name", :required => true %><br/>
                   </div>
              </div>

              <div class="row">
                     <div class="col-md-6">
                          <%= f.label "Mobile No :" %>
                     </div>
                     <div class="col-md-6 col-md-pull-2">
                           <%= f.text_field :mobile, id: "mobile", :required => true %>  
                     </div>
              </div>
          </div>
      </div>


  <div class="panel panel-default">
       <div class="panel-heading">Address Details</div>
          <div class="panel-body">
               <div class="row">
                     <div class="col-md-6">
                          <%= f.label "Your Shipping Address :" %>
                     </div>
                     <div class="col-md-6 col-md-pull-2" id="mylist">
                          <%= f.text_area :shipping_address, id: "add1", rows: 3, cols: 30, :required => true %>

<!--
                          <div class="row">
<div class="col-sm-3">
  <%= f.label :street_no %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :customer_id , :required => true , id: 1%>
</div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :street_name %>
 </div>
  <div class="col-sm-6">
  <%= f.text_field :customer_id, :required => true, id: 2 %>
  </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :area_name %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :customer_id, :required => true,id: 3%>
 </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :landmark %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :customer_id , :required => true, id: 4%>
 </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :city %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :customer_id, :required => true,id: 5 %>
  </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :postal_code %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :customer_id, :required => true, id: 6 %>
  </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :state %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :customer_id , :required => true, id: 7%>
 </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :country %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :customer_id, :required => true, id: 8 %>
</div>
</div>
-->

                          
                     </div>
                </div>
     
        </div>
 </div>

 <div class="panel panel-default">
     <div class="panel-heading">Order Details</div>
          <div class="panel-body">
               <div class="row">
                   <div class="col-md-6">
                        <%= f.label "Order No :" %><br />
                  </div>
                    <div class="col-md-6 col-md-pull-2">
                          <%= f.text_field :order_no, :required => true %>
                    </div>
              </div>

              <div class="row">
                     <div class="col-md-6">
                         <%= f.label "Tracking No :" %>
                    </div>
                   <div class="col-md-6 col-md-pull-2">
                         <%= f.text_field :tracking_no, :required => true %>
                   </div>
             </div>

            <div class="row">
                 <div class="col-md-6">
                      <%= f.label "Delivery Date :" %>
                 </div>
                <div class="col-md-6 col-md-pull-2">
                      <%= f.date_select :delivery_date, :required => true %>
                 </div>
            </div>

            <div class="row">
                 <div class="col-md-6">
                    <%= f.label "Is Express Delivery ?" %>
                 </div>
                <div class="col-md-6 col-md-pull-2">
                    <%= f.check_box :is_express_delivery %>
                    <%= f.label "(Check if 'YES')" %>
                 </div>
           </div>

          <div class="row">
              <div class="col-md-6">
                   <%= f.label "Is Customer Pickup ?" %>
              </div>
              <div class="col-md-6 col-md-pull-2">
                  <%= f.check_box :is_customer_pickup %>
                  <%= f.label "(Check if 'YES')" %>
              </div>
          </div>

         <div class="row">
               <div class="col-md-6">
                  <%= f.label "Delivery Slot :" %>
                </div>
                <div class="col-md-6 col-md-pull-2">
                   <%=f.select :delivery_slot, options_for_select([ "Morning", "Noon", "Evening", "Night" ]), :class => 'form-control', :required => true  %>
                </div>
          </div>

          <div class="row">
                <div class="col-md-6">
                     <%= f.label "Carrier :" %>
                </div>
                <div class="col-md-6 col-md-pull-2">
                   
                    <%= f.select :carrier, options_for_select([ "FBA", "PDF", "SIP", "DIP" ]), :class => 'form-control', :required => true  %>
                </div>
          </div>

          <div class="row">
                <div class="col-md-6">
                    <%= f.label "Order Currency :" %>
                </div>
                <div class="col-md-6 col-md-pull-2">
                     <%=  f.select :order_currency, options_for_select([ "USD", "INR", "EUR", "AFN", "AUD", "JPY"]), :class => 'form-control', :required => true  %>
                 </div>
          </div>

         <br/><br/>
                      <div class="panel panel-default">
                             <div class="panel-heading">Add Line Items to Cart</div>
                                    <div class="panel-body">
                                           <%= f.fields_for :line_items do |builder| %>
                                           <%=  render 'line_item_fields', :f => builder %>
                                            <% end %>
        
                                            <%= link_to_add_fields "Add Line_items", f, :line_items %>
                                     </div>
                      </div>

               <div class="row">
                   <div class="col-md-6">
                       <%= f.label "Order Value :" %>
                    </div>
                    <div class="col-md-6 col-md-pull-2">
                        <%= f.text_field :order_value, :required => true %>
                    </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                       <%= f.label "Payment Collection :" %>
                  </div>
                  <div class="col-md-6 col-md-pull-2">
                          <%=f.select :payment_collection, options_for_select([ "PayU Money  ", " MasterCard Payment Gateway", "NETbilling", "PayDollar", "PayU India", "DebitCard", "CreditCard"]), :class => 'form-control', :required => true  %>
                  </div>
              </div>

              <div class="row">
                   <div class="col-md-6">
                      <%= f.label "Special Instruction :" %>
                    </div>
                      <div class="col-md-6 col-md-pull-2">
                           <%= f.text_field :special_instruction, :required => true %>
                    </div>
              </div>
              <br/><br/>
              <div class="row">
                  <div class="col-md-6 col-md-push-8">
                      <%= button_tag( :class => 'btn btn-primary', :title => 'Save', :rel => 'tooltip') do %>
       Save<span class="glyphicon glyphicon-floppy-save"></span> 
   <% end %>
                   </div>
              </div>
      </div>
  </div>
 <% end %>




 <script>
  $("#input").keyup(function(){
      var  x = document.getElementById("input").value;
          $.ajax({
                    type: 'GET',
                    url:  "/customers/customer_details/",
                    data: { email: escape(x)},
                    dataType: 'json',

                    success: function(r){
                     v = r['variant'];
                     console.log(v)
                     $("#first_name").val(r['first_name']);
                     $("#last_name").val(r['last_name']);
                     $("#mobile").val(r['mobile']);
                     $("#cid").val(r['id']);
                      }
                });
  });



  $("#input").keyup(function(){
                var  x = document.getElementById("input").value;
                $.ajax({
                           type: 'GET',
                          url:  "/customers/customer_address"  ,
                          data: { email: escape(x)},
                          dataType: 'json',

                          success: function(r){
                           v = r['variant'];
                           console.log(v)
                          $("#add1").val("");
                          for ( var i = 0; i < r.length; i++ ) {
                                    var para = document.createElement("label");
                                    var a = r[i]['street_no']+ " "+r[i]["street_name"]+ " "+r[i]["area_name"]+ " "+r[i]["landmark"]+ " "+r[i]["city"]+ " "+r[i]["postal_code"]+ " "+r[i]["state"]+ " "+r[i]["country"]
                                    var t = document.createTextNode(a);
                                    para.appendChild(t);
                                    para.id = "para_"+i ;
                                    document.getElementById("mylist").appendChild(para);
                                    //alert(para.id);
                                    var btn = document.createElement("BUTTON");
                                    var t = document.createTextNode("Add Address");
                                        btn.setAttribute("type","button");
                                    btn.appendChild(t);
                                    btn.id = "btn_"+i;
                                    document.getElementById("mylist").appendChild(btn);
                                    //alert(btn.id);
                                  }

                          $("button").click(function(){
                                    var id = this.id
                                    var lastChar = id.substr(id.length - 1); // => "1"  
                                    var add = document.getElementById("para_" + lastChar).childNodes[0].nodeValue;  

                                    //code to add address in separate fields by splitting

                                    //for ( var i = 0; i < add.length; i++ ) {
                                      console.log(add.split(' '))
                                    //}
                                    //code to add address in given single address field
                                    $("#add1").val("");
                                    $("#add1").val(add);
                                  });
                          }
                      });
      });

$(document).ready(function(){
 $("#add1").val("");
});
</script>

