<div class="panel panel-default">
    <div class="panel-heading">Line Items Details</div>
    <div class="panel-body">
<div class="row">
<div class="col-sm-3">
  <%= f.label :sku %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :sku, id: "sku" %>
</div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :description %>
 </div>
  <div class="col-sm-6">
  <%= f.text_field :description, id: "desc" %>
  </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :qty %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :qty %>
 </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :price %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :price, id: "price" %>
 </div>
</div>
<%= f.hidden_field :product_name, id: "pname"%>

</div>
</div>

<script>

$("#sku").keyup(function(){
 var  x = document.getElementById("sku").value;
$.ajax({
type: 'GET',
url:  "/products/" + x,
data: {id: x},
dataType: 'json',

success: function(r){
v = r['variant'];
console.log(v)
$("#price").val(r['cost_price']);
$("#pname").val(r['name']);

}
});
});
</script>