<div class="panel panel-default">
      <div class="panel-heading">Line Item Details
      <div align="right"><%= link_to_remove_fields "remove", f %></div></div>
            <div class="panel-body">
                  <div class="row">
                      <div class="col-md-6 ">
                          <%= f.label "Enter SKU" %>
                      </div>
                      <div class="col-md-6 col-md-pull-2">
                          <%= f.text_field :sku, id: 0,  class: "sku", :required => true %>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 ">
                          <%= f.label "Product Name" %>
                      </div>
                      <div class="col-md-6 col-md-pull-2">
                          <%= f.text_field :product_name, class: "pname", :required => true,:readonly => true%>
                           <%= f.hidden_field :product_id, class: "pid"%>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6 ">
                          <%= f.label "Description" %>
                      </div>
                      <div class="col-md-6 col-md-pull-2">
                          <%= f.text_field :description, class: "desc", :required => true %>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6 ">
                            <%= f.label "Quantity" %>
                      </div>
                      <div class="col-md-6 col-md-pull-2">
                          <%= f.text_field :qty , class: "qty", :required => true%>
                      </div>
                  </div>

                  <div class="row">
                        <div class="col-md-6 ">
                            <%= f.label "Price" %>
                          </div>
                          <div class="col-md-6 col-md-pull-2">
                              <%= f.text_field :price, class: "price" , :required => true, :readonly => true%>
                              <%#= f.text_field :price, value: 0, class: "total"%>
                          </div>
                  </div>

            </div>

  </div>


<script>

$(".sku").keyup(function(){
var  x= $(this).val()
console.log(x)
$.ajax({
type: 'GET',
url:  "/products/product_details",
data: {sku: x},
dataType: 'json',

success: function(r){
v = r['variant'];
console.log(v)
$(".qty:last").val(1);
$(".price:last").val(r['retail_price']);
$(".pname:last").val(r['name']);
$(".pid:last").val(r['id']);


// $(".qty:last").keyup(function(){
// var  x = document.getElementsByClassName("qty")[0].value;
// if (x > r['avail_min_qty']) {
//    alert("You have entered wrong Quantity for this product")
// }
// var  y = r['cost_price']
// console.log(y);
// $(".price:last").val(x * y);


// //var a = 

// });
}
});
});

</script>


<script>
// var counter=0;
// $(document).ready(function(){
// //alert("Page is loaded");  
// var newDivThingy = document.getElementsByClassName("sku")[0];
// var a = parseInt(newDivThingy.id)
// console.log(a)
// a+=1;
// newDivThingy.id  = a;
// console.log("#########")
// console.log(document.getElementById(newDivThingy.id)
// //alert( newDivThingy.id)
// // continue your stuff here     
// });
</script>