<div class="panel panel-default">
    <div class="panel-heading">Line Items Details</div>
    <div class="panel-body">
<div class="row">
<div class="col-sm-3">
  <%= f.label :sku %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :sku %>
</div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :description %>
 </div>
  <div class="col-sm-6">
  <%= f.text_field :description %>
  </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :qty %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :qty %>
 </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :price %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :price %>
 </div>
</div>


</div>
</div>
