<div class="panel panel-default">
    <div class="panel-heading">Line Items Details</div>
    <div class="panel-body">
<div class="row">
<div class="col-sm-3">
  <%= f.label :sku %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :sku, id: 'sku1', class: 'sku' %>
</div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :description %>
 </div>
  <div class="col-sm-6">
  <%= f.text_field :description, class: "desc" %>
  </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :qty %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :qty , class: "qty"%>
 </div>
</div>

<div class="row">
<div class="col-sm-3">
  <%= f.label :price %>
  </div>
  <div class="col-sm-6">
  <%= f.text_field :price, class: "price" %>
 </div>
</div>
<%= f.text_field :product_name, class: "pname"%>

</div>
</div>

<script>

alert(document.body.lastChild.nodeType)


$(".sku").keyup(function(){
 var  x;  //= null;
 x = document.getElementsByClassName("sku")[0].value;

 //var myText = document.getElementsByClassName("sku")[0].firstChild.nodeValue;
 console.log(x)
 //console.log(myText)
$.ajax({
type: 'GET',
url:  "/products/product_details",
data: {sku: x},
dataType: 'json',

success: function(r){
v = r['variant'];
console.log(v)
$(".qty").val(1);
$(".price").val(r['cost_price']);
$(".pname").val(r['name']);
//x = null;
}
});
});

$(".qty").keyup(function(){
 var  x = document.getElementsByClassName("qty")[0].value;
 var  y = document.getElementsByClassName("price")[0].value;
 console.log(x)
 console.log(y)
 $(".price").val(x * y);

});
</script>