<div class="row">
  <br/><br/>
  <br/>
</div>
 <h1 style="color:white;">Listing orders</h1>


<%= link_to  new_order_path , :class => 'btn btn-md btn-default',:title => 'Add New Order', :rel => 'tooltip' do %>
    <span class="glyphicon glyphicon-pencil"></span> New Order 
    <% end %><br/><br/>

 <table class="table table-striped" id="t01">
  <tr>
    <th>Order no</th>
    <th>Tracking no</th>
    <th>Delivery date</th>
    <th>Is express delivery</th>
    <th>Is customer pickup</th>
    <th>Delivery slot</th>
    <th>Carrier</th>
    <th>Order currency</th>
    <th>Order value</th>
    <th>Payment collection</th>
    <th>Special instruction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.order_no %></td>
    <td><%= order.tracking_no %></td>
    <td><%= order.delivery_date %></td>
    <td><%= order.is_express_delivery %></td>
    <td><%= order.is_customer_pickup %></td>
    <td><%= order.delivery_slot %></td>
    <td><%= order.carrier %></td>
    <td><%= order.order_currency %></td>
    <td><%= order.order_value %></td>
    <td><%= order.payment_collection %></td>
    <td><%= order.special_instruction %></td>
    <td><%= link_to  order, :class => 'btn btn-xs btn-warning',:title => 'Show', :rel => 'tooltip' do%>
              <span class="glyphicon glyphicon-eye-open"></span> Show
              <%end%></td>
    <td><%= link_to  edit_order_path(order),:class => 'btn btn-xs btn-info',:title => 'Edit', :rel => 'tooltip' do %>

              <span class="glyphicon glyphicon-edit"></span> Edit  
              <% end %></td>
    <td><%= link_to  order, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger', :title => 'Delete', :rel => 'tooltip' do %>
              <span class="glyphicon glyphicon-trash"></span> Remove  
              <% end %></td>
  </tr>
<% end %>
 <td colspan="4"><%= will_paginate @orders, renderer: BootstrapPagination::Rails , previous_label: "Older", next_label: "Newer", inner_window: 1 %></td>
</table>

