<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_email %><br />
    <%= f.hidden_field :customer_id, id: 'cid'%>
    <%= f.collection_select(:customer_id, Customer.all, :id, :email, id: 'select') %>
  </div>

  <div class="field">
    <%= f.label :street_no %><br />
    <%= f.number_field :street_no, :required => true, min: 0 %>
  </div>
  <div class="field">
    <%= f.label :street_name %><br />
    <%= f.text_field :street_name , :required => true%>
  </div>
  <div class="field">
    <%= f.label :area_name %><br />
    <%= f.text_field :area_name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :landmark %><br />
    <%= f.text_field :landmark, :required => true %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, :required => true %>
  </div>
  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code, :required => true %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, :required => true %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country , :required => true%>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
  $('select').change(function () {
     var optionSelected = $(this).find("option:selected");
     //var valueSelected  = optionSelected.val();
     var textSelected   = optionSelected.text();
     console.log(textSelected)
     $.ajax({
                    type: 'GET',
                    url:  "/customers/customer_details/",
                    data: { email: escape(textSelected)},
                    dataType: 'json',

                    success: function(r){
                     v = r['variant'];
                     console.log(v)
                     
                     $("#cid").val(r['id']);
                      }
                });
 });
</script>