<div class="row">
  <br/><br/>
  <br/>
</div>
 <h1 style="color:white;">Listing addresses</h1>
 <table class="table table-striped" id="t01">
  <tr>
    <th>Customer First Name</th>
    <th>Customer Last Name</th>
    <th>Street name</th>
    <th>Area name</th>
    <th>Landmark</th>
    <th>City</th>
    <th>Postal code</th>
    <th>State</th>
    <th>Country</th>
    <th>Street no</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.customer.first_name %></td>
     <td><%= address.customer.last_name %></td>
    <td><%= address.street_name %></td>
    <td><%= address.area_name %></td>
    <td><%= address.landmark %></td>
    <td><%= address.city %></td>
    <td><%= address.postal_code %></td>
    <td><%= address.state %></td>
    <td><%= address.country %></td>
    <td><%= address.street_no %></td>
    <td><%= link_to  address, :class => 'btn btn-xs btn-warning',:title => 'Show', :rel => 'tooltip' do%>
              <span class="glyphicon glyphicon-eye-open"></span> Show
              <%end%></td>
    <td><%= link_to edit_address_path(address) ,:class => 'btn btn-xs btn-info',:title => 'Edit', :rel => 'tooltip' do %>

              <span class="glyphicon glyphicon-edit"></span> Edit  
              <% end %></td>
    <td><%= link_to  address, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger', :title => 'Delete', :rel => 'tooltip' do %>
              <span class="glyphicon glyphicon-trash"></span> Remove  
              <% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to new_address_path , :class => 'btn btn-md btn-default',:title => 'Add New Address', :rel => 'tooltip' do %>
    <span class="glyphicon glyphicon-pencil"></span> New Address 
    <% end %>
