<div class="row">
  <br/><br/>
  <br/>
</div>

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-4">
<div class="panel panel-info">
 <div class="panel-heading"><h3> <%= @address.customer.first_name %> <%= @address.customer.last_name %></h3>
 <div align="right">
 <%= link_to  edit_address_path(@address),:class => 'btn btn-info',:title => 'Edit', :rel => 'tooltip' do %>

              <span class="glyphicon glyphicon-edit"></span> Edit  
              <% end %>
<%= link_to addresses_path , class: "btn btn-default", :title => 'Back', :rel => 'tooltip' do %>
<span class="glyphicon glyphicon-step-backward"></span> Back
<% end %>
</div>
 </div>
  <div class="panel-body">
    
   <p>
  <b>Street no:</b>
  <%= @address.street_no %>
</p>

<p>
  <b>Street name:</b>
  <%= @address.street_name %>
</p>

<p>
  <b>Area name:</b>
  <%= @address.area_name %>
</p>

<p>
  <b>Landmark:</b>
  <%= @address.landmark %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>Postal code:</b>
  <%= @address.postal_code %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>

<p>
  <b>Country:</b>
  <%= @address.country %>
</p>
  </div>
</div>
</div>
</div>

