<%= form_for @product, html: {multipart: true} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
<%= f.label :iamge %>
<%= f.file_field :image, :required => true %>
</div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :sku %><br />
    <%= f.text_field :sku, :required => true %>
  </div>
  <div class="field">
    <%= f.label :MFUPC %><br />
    <%= f.text_field :MFUPC , :required => true%>
  </div>
  <div class="field">
    <%= f.label :cost_price %><br />
    <%= f.text_field :cost_price, :required => true %>
  </div>
  <div class="field">
    <%= f.label :retail_price %><br />
    <%= f.text_field :retail_price , :required => true%>
  </div>
  <div class="field">
    <%= f.label :storage_type %><br />
    <%= f.text_field :storage_type, :required => true %>
  </div>
  <div class="field">
    <%= f.label :avail_min_qty %><br />
    <%= f.number_field :avail_min_qty , :required => true%>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight, :required => true %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height , :required => true%>
  </div>
  <div class="field">
    <%= f.label :width %><br />
    <%= f.text_field :width, :required => true %>
  </div>
  <div class="field">
    <%= f.label :depth %><br />
    <%= f.text_field :depth, :required => true %>
  </div>
  <div class="field">
    <%= f.label :buffer_stock %><br />
    <%= f.number_field :buffer_stock , :required => true%>
  </div>
  <div class="field">
    <%= f.label :is_sample %><br />
    <%= f.check_box :is_sample %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company, :required => true %>
  </div>
  <div class="field">
    <%= f.label :merchant %><br />
    <%= f.text_field :merchant, :required => true %>
  </div>
  <div class="actions">
    <%= button_tag( :class => 'btn btn-primary', :title => 'Save', :rel => 'tooltip') do %>
       Save<span class="glyphicon glyphicon-floppy-save"></span> 
   <% end %>
  </div>
<% end %>
