<div class="row">
  <br/><br/>
  <br/>
</div>
 <h1 style="color:white;">Listing products</h1>



<%= link_to new_product_path , :class => 'btn btn-md btn-default',:title => 'Add New Product', :rel => 'tooltip' do %>
    <span class="glyphicon glyphicon-pencil"></span> New Product 
    <% end %>
    <br/>
    <br/>
<table class="table table-striped table-hovered" id="t01">
  <tr>
    <th>Name</th>
    <th>Sku</th>
    <th>Mfupc</th>
    <th>Cost price</th>
    <th>Retail price</th>
    <th>Storage type</th>
    <th>Avail min qty</th>
    <th>Weight</th>
    <th>Height</th>
    <th>Width</th>
    <th>Depth</th>
    <th>Buffer stock</th>
    <th>Is sample</th>
    <th>Company</th>
    <th>Merchant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.sku %></td>
    <td><%= product.MFUPC %></td>
    <td><%= product.cost_price %></td>
    <td><%= product.retail_price %></td>
    <td><%= product.storage_type %></td>
    <td><%= product.avail_min_qty %></td>
    <td><%= product.weight %></td>
    <td><%= product.height %></td>
    <td><%= product.width %></td>
    <td><%= product.depth %></td>
    <td><%= product.buffer_stock %></td>
    <td><%= product.is_sample %></td>
    <td><%= product.company %></td>
    <td><%= product.merchant %></td>
    <td><%= link_to  product,:class => 'btn btn-xs btn-warning',:title => 'Show', :rel => 'tooltip' do%>
              <span class="glyphicon glyphicon-eye-open"></span> Show
              <%end%></td>
    <td><%= link_to  edit_product_path(product),:class => 'btn btn-xs btn-info',:title => 'Edit', :rel => 'tooltip' do %>

              <span class="glyphicon glyphicon-edit"></span> Edit  
              <% end %></td>
    <td><%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-xs btn-danger', :title => 'Delete', :rel => 'tooltip' do %>
              <span class="glyphicon glyphicon-trash"></span> Remove  
              <% end %></td>
  </tr>
<% end %>
</table>

<br />

