<%= form_for(@line_item) do |f| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sku %><br />
    <%= f.text_field :sku , :required => true%>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id , :required => true%>
  </div>
  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.number_field :order_id, :required => true %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, :required => true %>
  </div>
  <div class="field">
    <%= f.label :qty %><br />
    <%= f.number_field :qty , :required => true%>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price, :required => true %>
  </div>
  <div class="actions">
   <%= button_tag( :class => 'btn btn-primary', :title => 'Save', :rel => 'tooltip') do %>
       Save<span class="glyphicon glyphicon-floppy-save"></span> 
   <% end %>
  </div>
<% end %>
