<p id="notice"><%= notice %></p>

<p>
  <b>Sku:</b>
  <%= @line_item.sku %>
</p>

<p>
  <b>Product:</b>
  <%= @line_item.product_id %>
</p>

<p>
  <b>Order:</b>
  <%= @line_item.order_id %>
</p>

<p>
  <b>Description:</b>
  <%= @line_item.description %>
</p>

<p>
  <b>Qty:</b>
  <%= @line_item.qty %>
</p>

<p>
  <b>Price:</b>
  <%= @line_item.price %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
