<header style="background-color:black;">
<nav class="navbar navbar-inverse navbar-fixed-top">
  
    <div class="navbar-header">
      <a class="navbar-brand" style="color:white;"><h4>MyCart</h4></a>
    </div>
    <ul class="nav navbar-nav  navbar-right" style="padding-right: 20px">
      <li class="active"><%= link_to "Home", root_path %></li>
     <li><%= link_to 'Customers', customers_path %></li>
        <li><%= link_to 'Addresses' , addresses_path %></li>
        <li><%= link_to 'Products' , products_path %></li>         
        <li><%= link_to 'Orders' , orders_path %></li> 
    </ul>
 
</nav>
</header>











